<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">person</i>
                        </div>
                        <p class="card-category">Utilisateurs</p>
                        <h3 class="card-title">{{ users }}</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-danger card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">games</i>
                        </div>
                        <p class="card-category">Parties</p>
                        <h3 class="card-title">{{ matches}} parties créées</h3>
                    </div>
                </div>
            </div>

        </div>


    </div>
</div>