<app-nav></app-nav>


<section class="bg-white border-b pt-24 pt-8">
    <div class="container max-w-5xl mx-auto m-4">
        <h1 class="w-full my-2 text-5xl font-bold leading-tight text-center text-gray-800">Votre espace membre</h1>
    </div>
</section>






<section class="bg-white border-b py-8">
    <div class="container mx-auto flex flex-wrap pt-4 pb-8" *ngIf="!createTeam">
        <h1 class="w-full my-2 text-5xl font-bold leading-tight text-center text-gray-800">Choisir une équipe...</h1>
        <div class="w-full mb-4">
            <div class="h-1 mx-auto gradient w-64 opacity-25 my-0 py-0 rounded-t"></div>
        </div>
        <div class="inline-block relative w-full">
            <select [(ngModel)]="team" name="team" class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500">
              <option *ngFor="let team of teams" value="{{team._id}}">{{ team.label }}</option>
            </select>
            <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
            </div>
        </div>
        <button (click)="joinTeam()" class="bg-blue-700 mt-12 hover:bg-blue-500 text-white font-bold py-2 text-sm block mb-2 px-4 mx-auto rounded-full">
            Rejoindre la team
    </button>
    </div>
    <div class="container mx-auto flex flex-wrap pt-4 pb-8" *ngIf="createTeam">
        <h1 class="w-full my-2 text-5xl font-bold leading-tight text-center text-gray-800">Créer une équipe...</h1>
        <div class="w-full mb-4">
            <div class="h-1 mx-auto gradient w-64 opacity-25 my-0 py-0 rounded-t"></div>
        </div>
        <div class="flex items-center w-full border-b border-b-2 border-blue-700 py-2">
            <input [(ngModel)]="newteam" name="newteam" class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none" type="text" placeholder="Nom de l'équipe..." aria-label="Nom de l'équipe...">
            <button (click)="addTeam()" class="flex-shrink-0 bg-blue-700 hover:bg-blue-500 border-blue-700 hover:border-blue-500 text-sm border-4 text-white py-1 px-2 rounded" type="button">
              Créer
            </button>
            <button (click)="switch()" class="flex-shrink-0 border-transparent border-4 text-blue-700 hover:text-blue-800 text-sm py-1 px-2 rounded" type="button">
              Annuler
            </button>
        </div>
    </div>
    <button *ngIf="!createTeam" (click)="switch()" class="border-blue-700 text-blue-700 border-2 hover:bg-blue-700 hover:text-white hover:border-0 text-white font-bold py-2 text-sm block mb-2 px-4 mx-auto rounded-full">
    Créer une team
</button>
</section>

<script>
    var scrollpos = window.scrollY;
    var header = document.getElementById("header");
    var navcontent = document.getElementById("nav-content");
    var navaction = document.getElementById("navAction");
    var brandname = document.getElementById("brandname");
    var toToggle = document.querySelectorAll(".toggleColour");

    document.addEventListener('scroll', function() {

        /*Apply classes for slide in bar*/
        scrollpos = window.scrollY;

        if (scrollpos > 10) {
            header.classList.add("bg-white");
            navaction.classList.remove("bg-white");
            navaction.classList.add("gradient");
            navaction.classList.remove("text-gray-800");
            navaction.classList.add("text-white");
            //Use to switch toggleColour colours
            for (var i = 0; i < toToggle.length; i++) {
                toToggle[i].classList.add("text-gray-800");
                toToggle[i].classList.remove("text-white");
            }
            header.classList.add("shadow");
            navcontent.classList.remove("bg-gray-100");
            navcontent.classList.add("bg-white");
        } else {
            header.classList.remove("bg-white");
            navaction.classList.remove("gradient");
            navaction.classList.add("bg-white");
            navaction.classList.remove("text-white");
            navaction.classList.add("text-gray-800");
            //Use to switch toggleColour colours
            for (var i = 0; i < toToggle.length; i++) {
                toToggle[i].classList.add("text-white");
                toToggle[i].classList.remove("text-gray-800");
            }

            header.classList.remove("shadow");
            navcontent.classList.remove("bg-white");
            navcontent.classList.add("bg-gray-100");

        }

    });
</script>

<script>
    var navMenuDiv = document.getElementById("nav-content");
    var navMenu = document.getElementById("nav-toggle");

    document.onclick = check;

    function check(e) {
        var target = (e && e.target) || (event && event.srcElement);

        //Nav Menu
        if (!checkParent(target, navMenuDiv)) {
            // click NOT on the menu
            if (checkParent(target, navMenu)) {
                // click on the link
                if (navMenuDiv.classList.contains("hidden")) {
                    navMenuDiv.classList.remove("hidden");
                } else {
                    navMenuDiv.classList.add("hidden");
                }
            } else {
                // click both outside link and outside menu, hide menu
                navMenuDiv.classList.add("hidden");
            }
        }

    }

    function checkParent(t, elm) {
        while (t.parentNode) {
            if (t == elm) {
                return true;
            }
            t = t.parentNode;
        }
        return false;
    }
</script>